<p id="notice"><%= notice %></p>

<h1>Fake Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_emails.each do |fake_email| %>
      <tr>
        <td><%= fake_email.email %></td>
        <td><%= link_to 'Show', fake_email %></td>
        <td><%= link_to 'Edit', edit_fake_email_path(fake_email) %></td>
        <td><%= link_to 'Destroy', fake_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake Email', new_fake_email_path %>
