<h2>Form</h2>
<%= form_with(model: spam_email, local: true) do |form| %>
  <% if spam_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spam_email.errors.count, "error") %> prohibited this spam_email from being saved:</h2>

      <ul>
      <% spam_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "User Name" %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label "User Email" %>
  <%= form.text_field :user_real_email %>

  <%= form.label :victim_name %>
  <%= form.text_field :victim_name %>
  <br>
  <%= form.label "Victim email" %>
  <%= form.text_field :victim_real_email %>

  <%= form.label :contents %> <br>
  <%= form.text_area :contents, value: @spam_type[:template]  %>

  <%= form.label "# of emails"%>
  <%= form.number_field :num_emails %>

  <%= form.submit %>
<% end %>
