<p id="notice"><%= notice %></p>

<h1>Spam Emails</h1>

<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spam_emails.each do |spam_email| %>
      <tr>
        <td><%= link_to spam_email.contents[0..20], spam_email %></td>
        <td><%= link_to spam_email.user.name, user_path(spam_email.user) %></td>
        <td><%= link_to spam_email.victim.name, victim_path(spam_email.victim) %></td>
        <td><%= spam_email.spam_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spam Email', new_spam_email_path %>
