<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @spam_email.contents %>
  <br>
  User: <%= @spam_email.user.real_email %>
  <br>
  Victim: <%= @spam_email.victim.real_email %>

</p>

<%= link_to 'Back', spam_emails_path %>
