<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Real email:</strong>
  <%= mail_to @user.real_email %>
</p>

<p>
  <strong>Fake emails:</strong>
  <ul>
    <% @user.fake_emails.each do |fake_e| %>
      <li><%= mail_to fake_e.email %></li>
    <% end %>
  </ul>

</p>


<%= link_to 'Back', users_path %>
